.container {
    display: flex;
    margin-top: 50px;
  }

  .item {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
  }

  body {
    overflow: hidden;
  }

  .item img {
    display: block;
    max-width: 100%;
  }
  .row-header-title {
    display: table-cell;
      vertical-align: bottom;
      line-height: 1.25vw;
      font-size: 1.4vw;
  }
    // .container:focus-within .item,
  // .container:hover .item {
  //   transform: translateX(-25%);
  // }

  // .item:focus ~ .item,
  // .item:hover ~ .item {
  //   transform: translateX(25%);
  // }

  // .container .item:focus,
  // .container .item:hover {
  //   transform: scale(1.5);
  //   z-index: 1;
  // }
