<div *ngIf="myWatchedData && myWatchedData?.length !== 0" class="textStyle">
  {{ "card.Watched" | translate }}
</div>
<div class="container">
  <div *ngFor="let data of myWatchedData">
    <a (click)="browseContentDetail(data.id)" class="item round">
      <img src="{{ Image_Url + data.poster_path }}" alt="flixmovieImage"
    /></a>
  </div>
</div>
<div
  *ngIf="myWatchLaterData && myWatchLaterData?.length !== 0"
  class="textStyle"
>
  {{ "card.WatchLater" | translate }}
</div>
<div class="container">
  <div *ngFor="let data of myWatchLaterData">
    <a (click)="browseContentDetail(data.id)" class="item round">
      <img src="{{ Image_Url + data.poster_path }}" alt="flixmovieImage"
    /></a>
  </div>
</div>

<div *ngIf="markedFavorite && markedFavorite?.length !== 0" class="textStyle">
  {{ "card.Favorite" | translate }}
</div>
<div class="container">
  <div *ngFor="let data of markedFavorite">
    <a (click)="browseContentDetail(data.id)" class="item round">
      <img src="{{ Image_Url + data.poster_path }}" alt="flixmovieImage"
    /></a>
  </div>
</div>
